<div class="container px-5">
  <div style="height: 30px"></div>

  <div class="columns">

    <div class="column is-3 conditionallyCentered" >
      <img class="picture" src="/assets/me.jpg">
    </div>

    <div class="column card is-5">
      <div>
        <label class="cardLabel">About</label>
      </div>
      <div class="cardContentGroup">
        <p class="cardContent">Mikiyas Tesfaye</p>
        <p class="cardContent">Software Developer</p>
        <p class="cardContent">Freelancer and Entrepreneur</p>
      </div>

      <div>
        <label class="cardLabel">Currently</label>
      </div>
      <div class="cardContentGroup">
        <p class="cardContent">Mobile Application Developer</p>
        <p id="framework"><span id="frameworkLabel">Framework:</span> Flutter</p>
        <p class="cardContent">Learning Angular Framework</p>
      </div>

      <div>
        <label class="cardLabel">Formal Education</label>
      </div>
      <div class="cardContentGroup">
        <p class="cardContent">Electrical and Computer Engineering(BSc)</p>
      </div>
    </div>
  </div>

  <div style="margin-top: 40px">
    <p class="paragraph">Mikiyas Tesfaye is an intermediate software developer who has been learning different
      frameworks and programming
      concepts over the past 3 years. From the different frameworks he has explored, he has proficient experience in
      Flutter.He has used Flutter for more than 2 years now including an engagement in production application.
      He is passionate about building his skills in computer programming and looking forward to working on different
      freelance jobs while starting his own business.</p>
  </div>

  <div><p class="myTitle">Recents</p></div>

  <div class="mb-6" style="text-align: center">
    <img class="picture" src="/assets/gifs/giphy.webp">
  </div>

</div>

<div class="navbar">
  <div class="navbar-brand">
    <div class="bottomNavBarContent">

      <div class="columns" style="margin-bottom: 0;width: 150%">

        <div class="column">
          <p class="cardLabel mb-3">Contact</p>

          <div class="icon-text mb-2">
              <span class="icon mr-2">
               <span class="material-icons">phone</span>
              </span>
            +251 941-135-730
          </div>

          <div class="icon-text mb-2">
            <span class="icon mr-2">
               <span class="material-icons">email</span>
              </span>
            Mikiyas721@gmail.com
          </div>

          <div class="icon-text mb-2">
            <span class="icon mr-2">
               <span class="material-icons">send</span>
            </span>
            @MIK_IYAS
          </div>

        </div>

        <div class="column">
          <p class="cardLabel mb-3">Location</p>

          <div class="icon-text">
            <span class="icon mr-2">
               <span class="material-icons">location_on</span>
            </span>
              Addis Ababa, Ethiopia
          </div>

        </div>

        <div class="column">
          <p class="cardLabel mb-3">GitHub</p>

          <div class="icon-text">
              <span class="icon mr-2">
                <span class="material-icons">link</span>
              </span>
            <a
              href="https://github.com/Mikiyas721"
              target="_blank"
            >
              https://github.com/Mikiyas721</a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
