.actions:empty {
  display: none;
}

.actions-default {
  display: none;
}

.actions:empty + .actions-default {
  display: block;
}
.my-description{
  color: grey;
  font-size: medium;
  margin-bottom: 5px;
}
.by{
  color: white;
  padding: 3px 8px 3px 8px;
  border-radius: 20px;
  white-space: nowrap;
}

