.myTitle{
  font-family: Montserrat;
  font-size: 25px;
  font-weight: bold;
  margin: 25px 0 25px 0;
}
.gitLink{
  width: 151px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
