@import "materialize-css/dist/css/materialize.css";

.myTitle{
  font-family: Montserrat;
  font-size: 25px;
  font-weight: bold;
  margin: 25px 0 25px 0;
}
.gitLink{
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.overViewTitle{
  margin: 10px 0 5px 0;
  font-size: 20px;
}
.button{
  background-color: #2FBE84;
  color: white;
  border-radius: 20px;
}
.carousel{
  vertical-align: top;
}
.carouselTitle{
  font-family: Montserrat;
  font-size: 30px;
  font-weight: bold;
  margin: 70px 0 0 0;
}
.carouselSubTitle{
  font-family: "Berlin Sans FB";
  font-size: 18px;
  color: grey;
}

@media only screen and (max-width: 800px) {
  .frameWorkColumn {
    display: none;
  }
}
