<div class="px-5">

  <div class="card mx-3 mt-3">
    <div class="card-header p-5">
      <p class="title">Application Overview</p>
    </div>

    <div class="card-content">

      <div>
        <p class="overViewTitle">Description</p>
        <p class="ml-4">{{data.content.description}}</p>
      </div>

      <div *ngIf="data.content.designPatterns">
        <p class="overViewTitle">Architecture</p>
        <div class="ml-4">
          <ng-container *ngFor="let design of data.content.designPatterns">
            <p [innerHTML]="design"></p>
          </ng-container>
        </div>
      </div>

      <div>
        <p class="overViewTitle">Frameworks</p>
        <div class="ml-4">
          <ng-container *ngFor="let logo of data.frameWorksLogo">
            <img style="width:48px" class="mr-3" [src]="logo">
          </ng-container>
        </div>
      </div>

      <div>
        <p class="overViewTitle">Explore project in detail</p>
        <div class="ml-4 gitLink">
          <a class="mt-2" target="_blank" [href]="data.githubLink">
            {{data.githubLink}}
          </a>
        </div>
      </div>
    </div>

    <div
      *ngIf="data.downloadLink"
      class="card-footer p-3 is-justify-content-end"
    >
      <button
        (click)="downloadFile()"
        class="button"
        *ngIf="data.downloadLink"
      >
        <span class="material-icons">download</span>
      </button>
    </div>
  </div>

  <div
    [class]="data.slideCount==1?'carousel carousel-slider':'carousel'"
    style="height: 670px"
  >
    <div
      style="text-align: center"
      *ngIf="data.slideCount==5"
    >
      <p class="carouselTitle">Take a closer look</p>
      <p class="carouselSubTitle">Navigate through the screenshot of {{data.title}}</p>
    </div>
    <ng-container *ngFor="let url of data.carouselImages">
      <a class="carousel-item"><img [src]="url"></a>
    </ng-container>
  </div>

  <div style="height: 100px"></div>

  <!--<div><p class="myTitle">In-use</p></div>

  <div class="m-6" style="text-align: center">
    <img class="picture" src="/assets/gifs/giphy.webp">
  </div>-->

</div>
