<nav class="navbar is-justify-content-space-between" role="navigation">

  <!--<figure class="image is-64x64 is-rounded">
    <img class="is-rounded avatar" src="assets/images/Profile_Picture.jpg" width="60">
  </figure>-->

  <div class="title">
    <p>Basic Information</p>
  </div>

  <div class="ui secondary pointing menu" style="margin-top: 15px">
    <a class="item navBarLink" (click)="active=0" [class]="{'is-underlined':active===0}" routerLink="">Home</a>
    <a class="item navBarLink" (click)="active=1" [class]="{'is-underlined':active===1}" routerLink="portfolio">Portfolio</a>
    <a class="item navBarLink" (click)="active=2" [class]="{'is-underlined':active===2}" routerLink="resume">Resume</a>
  </div>

</nav>

<router-outlet></router-outlet>
