<nav class="navbar" role="navigation">

  <div class="title">
    <p class="truncated">{{getTitle()}}</p>
  </div>

  <div class="menu">
    <a class="item navBarLink" [class]="{'is-underlined':getUnderlined()===0}" routerLink="">Home</a>
    <a class="item navBarLink" [class]="{'is-underlined':getUnderlined()===1}" routerLink="portfolio">Portfolio</a>
    <a class="item navBarLink" [class]="{'is-underlined':getUnderlined()===2}" routerLink="resume">Resume</a>
  </div>

</nav>

<router-outlet></router-outlet>
