.navbar {
  background-color: #2FBE84;
  height: 80px;
  padding: 5px 100px 0 100px;
  color: white;
  align-items: center;
}

.avatar {
  border-radius: 100px;
  height: 60px;
}

.title {
  color: white;
  margin: 0 0 5px 0;

}
.routes {
  width: 300px;
}

.navBarLink {
  color: white;
  margin-right: 20px;
}

.truncated {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
}
