.recentProjectCardBrokenWhite {
  padding: 30px 8% 30px 8%;
  background-color: #f2efe8;
}

.recentProjectCardWhite {
  padding: 30px 8% 30px 8%;
  background-color: white;
}
.myTitle{
  font-size: 24px;
  font-family: Poppins;
  margin-bottom: 20px;
  font-weight: bolder;
}

@media only screen and (min-width: 800px) {
  .imageColumn {
    padding-left: 7%;
  }
}
@media only screen and (max-width: 800px) {
  .imageColumn {
    text-align: center;
  }
}
