.container{
  margin: 0 17%;
}
.subtitle{
  font-family: Poppins;
}
.my-icon{
  margin-left: 10px;
  width: 36px
}
.leftInfoTitle{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
}
@media only screen and (max-width: 768px) {
  .column {
    text-align: center;
  }
  .icon-text{
    text-align: center;
  }
}
