.container {
  margin: 0 17%;
}

.subtitle {
  font-family: Poppins;
}

.my-icon {
  margin-left: 10px;
  width: 36px
}

@media only screen and (max-width: 768px) {
  .column {
    text-align: center;
    margin-top: 15px;
  }
  .forLarge {
    display: none;
  }
  .forSmall{
    display: block;
  }
}
@media only screen and (min-width: 768px) {
  .column {
    margin-left: 30px;
    margin-top: 50px;
  }
  .forSmall {
    display: none;
  }
  .forLarge{
    display: block;
  }
}
