<div class="container" *ngIf="sharedService.selectedPortfolio">
  <router-outlet (deactivate)="sharedService.selectedPortfolio=null"></router-outlet>
</div>

<div class="columns px-5" *ngIf="!sharedService.selectedPortfolio">

  <div class="column is-2 m-5 box is-fixed-top sideMenu">
    <ul>
      <li (click)="onInPageRoute($event, 'MobileApplications')" class="subtitle mb-1"><a href="">Mobile Apps</a></li>
      <li (click)="onInPageRoute($event, 'WebApplications')" class="subtitle mb-1"><a href="">Websites</a></li>
      <li (click)="onInPageRoute($event, 'BotApplications')" class="subtitle mb-1"><a href="">Telegram Bots</a></li>
    </ul>
  </div>

  <div class="column pt-5 portfolioBody">

    <a id="MobileApplications"></a>
    <ng-container *ngIf="mobilePortfolios">
      <p class="title">Mobile Applications</p>
      <hr>
      <div *ngFor="let mobileApp of mobilePortfolios">
        <app-portfolio-card (onCardClick)="onPortfolioCardClick(mobileApp)"
                            [portfolio]="mobileApp"></app-portfolio-card>
      </div>
    </ng-container>

    <a id="WebApplications"></a>
    <ng-container *ngIf="websitePortfolios">
      <p class="mt-6 mb-5 title">Websites</p>
      <hr>
      <div *ngFor="let web of websitePortfolios">
        <app-portfolio-card (onCardClick)="onPortfolioCardClick(web)" [portfolio]="web"></app-portfolio-card>
      </div>
    </ng-container>

    <a id="BotApplications"></a>
    <ng-container *ngIf="telegramBotsPortfolios">
      <p class="mt-6 mb-5 title">Telegram Bots</p>
      <hr>
      <div *ngFor="let bot of telegramBotsPortfolios">
        <app-portfolio-card (onCardClick)="onPortfolioCardClick(bot)" [portfolio]="bot"></app-portfolio-card>
      </div>
    </ng-container>

  </div>

</div>

