<div class="container">

  <div
    class="card mb-5"
    (click)="onCardClick()"
    routerLink="./portfolioDetails"
  >

    <div class="card-header is-justify-content-space-between pr-5">
      <p class="title">{{portfolio.title}}</p>
      <div class="gitLink" (click)="$event.stopPropagation()">
        <a class="mt-2" target="_blank" [href]="portfolio.githubLink">
          {{portfolio.githubLink}}
        </a>
      </div>
    </div>

    <div class="card-content">
      <p>{{portfolio.content.description}}</p>

      <div class="m-2">
        <p class="subtitle mb-1">Applications</p>

        <div class="columns ml-4">

          <div class="column is-5">
            <ng-container *ngFor="let app of portfolio.content.applications">
              <p>{{app.label}}</p>
            </ng-container>
          </div>

          <div class="column frameWorkColumn">
            <ng-container *ngFor="let app of portfolio.content.applications">
              <p class="is-italic">{{app.framework}}</p>
            </ng-container>
          </div>

        </div>

        <div
          (click)="$event.stopPropagation()"
          *ngFor="let design of portfolio.content.designPatterns"
        >
          <p class="subtitle m-1" [innerHTML]="design"></p>
        </div>
      </div>

    </div>

    <div
      class="card-footer is-justify-content-space-between pl-5 pr-5 pb-1"
      *ngIf="portfolio.downloadLink||portfolio.frameWorksLogo"
    >
      <div style="vertical-align: center">
        <ng-container *ngFor="let logo of portfolio.frameWorksLogo">
          <img style="width:48px" class="mr-1" [src]="logo">
        </ng-container>
      </div>

      <button
        (click)="downloadFile()"
        class="button"
        *ngIf="portfolio.downloadLink"
      >
        <i class="fa fa-train"></i>
        Download APK
      </button>

      <div
        *ngIf="portfolio.telegramBotLink"
        (click)="$event.stopPropagation()"
      ><a
        [href]="portfolio.telegramBotLink.link"
        target="_blank"
      >{{portfolio.telegramBotLink.telegramId}}</a>
      </div>

    </div>
  </div>
</div>

