<div class="container">

  <div
    class="card mb-5"
    (click)="onClick()"
    routerLink="./portfolioDetails"
  >

    <div class="card-header is-justify-content-space-between pr-5">
      <p class="title">{{portfolio.title}}</p>
      <a class="mt-2" target="_blank" [href]="portfolio.githubLink">
        {{portfolio.githubLink}}
      </a>
    </div>

    <div class="card-content">
      <p class="cardContent">{{portfolio.content.description}}
      </p>

      <div class="m-2">
        <p class="subtitle mb-1">Applications</p>

        <div class="columns ml-4">

          <div class="column is-5">
            <ng-container *ngFor="let app of portfolio.content.applications">
              <p>{{app.label}}</p>
            </ng-container>
          </div>

          <div class="column">
            <ng-container *ngFor="let app of portfolio.content.applications">
              <p class="is-italic">{{app.framework}}</p>
            </ng-container>
          </div>

        </div>

        <ng-container *ngFor="let design of portfolio.content.designPatterns">
          <p class="subtitle m-1">{{design}}</p>
        </ng-container>
      </div>


    </div>
    <div class="card-footer is-justify-content-end pr-5" *ngIf="portfolio.downloadLink">
      <button class="button"><i class="fa fa-train"></i>Download APK</button>
    </div>
  </div>
</div>

